* {
    padding: 0;
    margin: 0;
    border: 0;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

nav.navi {
    padding: 20px;
    background: #996a171a;
    margin: auto;
    border-radius: 10px;
    position: sticky;
}

footer {
    background: #000;
    color: #9b9ea1;
    padding: 48px;
    text-align: center;
    line-height: 50px;
}

footer h3 {
    font-size: 50px;
}

.footer-er-ftani {
    color: #ff6600;
}

.follower {
    align-items: center;
    justify-content: center;
}

.follower-box {
    margin: 60px;
    text-align: center;
}

.follower-box h1 {
    font-size: 40px;
    font-weight: 800;
}

.follower-box span {
    font-size: 19px;
}

.recipy-item {
    border: 29px solid white;
    border-radius: 32px;
    box-shadow: 5px 5px 20px gray;
}

.recipy-item p {
    font-size: 17px;
    padding: 10px;
    color: #706b6b;
}

.recipy-item h3 {
    font-size: 27px;
    padding: 10px;
    color: #605f5f;
}

.recipy {
    margin-bottom: 100px;
}

.recipy-head-box h2 {
    font-size: 45px;
    margin-bottom: 21px;
}

.recipy-head-box p {
    width: 468px;
    font-size: 17px;
    margin: auto;
}

.recipy-head-box {
    text-align: center;
    padding: 0px 0 100px;
}

.aboutMe-img {
    margin: 110px 100px 110px 350px;
}

.aboutMe-text {
    width: 50%;
    color: #6c6868;
    padding: 200px 80px;
}

.aboutMe-text h2 {
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

.aboutMe-text p {
    font-size: 18px;
    width: 488px;
    line-height: 30px;
}

.flex-sec {
    display: flex;
    margin-bottom: 100px;

}

.headSecText {
    width: 60%;
    margin: 200px 0 0 100px;
    color: #787777;
}

.headSecText span {
    color: #ff6600;
}

.headSecText h1 {
    font-size: 67px;
}

.headSecImg {
    background-image: url('images/shapes/Group\ 8450.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 543px;
}

.headSecText p {
    color: rgb(80, 79, 79);
    font-size: 25px;
    padding: 65px 0;
}

.headSecImg img {
    margin: 40px 48px;
}

.button {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 40px;
    font-size: 22px;
    color: #ffffff;
    background-image: linear-gradient(28deg, #fb9048, rgb(253 81 48));
}

.aboutme-bg {
    background-image: url('images/shapes/7.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contactb {
    line-height: 200px;
}

.racipy-box {
    display: flex;
    gap: 37px;
    margin: 0px 132px 0;
}

.main-box F {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 139px;
    border-radius: 15px;
    box-shadow: 5px 5px 13px gray;
}

.navi ul {
    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: center;
}

.navi ul li a {
    text-decoration: none;
    color: #ff7205;
    font-size: 20px;
    font-weight: 700;
    border-radius: 9px;
    padding: 10px 20px;
}

.navi ul li:hover a {
    background: white;
    color: black;
}

.navi li {
    color: aqua;
    text-decoration: none;
    list-style: none;
}